version: '3'

services:
  locust:
    restart: always
    image: "dhis2/locustio:latest"
    build:
      context: .
    environment:
      LOCUST_MASTER_NODE_HOST: "127.0.0.1"
      LOCUST_MASTER_NODE_PORT: "5557"
      LOCUST_FILE: "/locust-master.py"
      HOST: "127.0.0.1"
      NO_WEB: ${NO_WEB:-false}
      USERS: ${USERS:-10}
      HATCH_RATE: ${HATCH_RATE:-1}
      TIME: ${TIME:-10s}
   
    volumes:
      - ./locust-master.py:/locust-master.py
      - ./locust:/locust

    ports:
      - 5557:5557
      - 8089:8089
      - 5558:5558

